.col-filter {
    @media screen and (max-width: 991px) {
        margin-bottom: 1rem;
    }
}

.form-group {
    width: 100%;
    label {
        width: 70px;
        text-align: left;
        justify-content: left;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }
    .form-control {
        width: calc(#{100%} - #{70px});
        text-transform: uppercase;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        option {
            text-transform: uppercase;
        }
    }
    .btn {
        width: 100%;
    }
}